/* LOAD TYPE */
@import url("https://use.typekit.net/rcx0szh.css");

/* VARIABLES */
:root {
	--brand-color1: #9390ff;
	--brand-color2: #ff8552;
	--brand-color3: #dbff45;
	--brand-color4: #f4eed4;
	--color-black: #000;
	--color-white: #fff;
	--text-dark: #222;
	--text-light: #f2f2f2;

	--xs-space: 5px;
	--sm-space: calc(2*var(--xs-space)); 
	--md-space: calc(4*var(--xs-space)); 
	--lg-space: calc(10*var(--xs-space));
	--xl-space: calc(15*var(--xs-space)); 
	--xxl-space: calc(20*var(--xs-space)); 

	--time1: .5s;
	--time2: 1s;
	--time3: 4s;
	--time4: 5s;

	--sm-margin: 5%;
	--md-margin: 15%;
	--lg-margin: 20%;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-style: none;
  text-decoration: none;
}


/* BASE STYLES */

h1, h2, h3, h4, h5, h6 {
	font-family: "obviously-variable", sans-serif;
	font-variation-settings: "wght" 650, "wdth" 175, "ital" 0;
	padding-bottom: 1em;
}

div, span, p, a, ol, ul, li, form, input {
	font-family: "obviously-variable", sans-serif;
	font-variation-settings: "wght" 400, "wdth" 100, "ital" 0;
	line-height: 1.7;
}

ul {list-style: none;}

ol {padding-left: 2em;}

ol li::marker {
	font-family: "obviously-variable", sans-serif;
	font-variation-settings: "wght" 700, "wdth" 150, "ital" 0;
	font-size: 1.2rem;
}

p, ul, ol {
	max-width: 800px;
	margin: auto;
	padding-bottom: 1em;
}

a {
	color: var(--brand-color1);
}

a:hover {
	color: var(--color-white);
}

.center-text {
	text-align: center;
}

/* LAYOUT */

html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	background: var(--brand-color4);
	overflow-x: hidden;
}

/* For Chrome & Safari */
html::-webkit-scrollbar {
	width: 5px;
}
html::-webkit-scrollbar-thumb {
	background: var(--color-black);
}
html::-webkit-scrollbar-track {
	background: transparent;
}
/* Standard version (Firefox only for now) */
html {
	scrollbar-width: thin;
	scrollbar-color: var(--color-black) transparent;
}

body {
	width: 100%;
  height: 100%;
  text-rendering: optimizeSpeed;
  font-size: 18px;
  line-height: 1.25;
}

header {
	width: 100%;
	z-index: 10;
}

header nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: var(--sm-space) 0;
}

header svg {
	height: 50px;
}

main {
	background-image: 
		linear-gradient(90deg, rgba(244,238,212,0) 0%, rgba(244,238,212,0.5) 5%, rgba(244,238,212,1) 12%),
		linear-gradient(180deg, rgba(147,144,255,1) 10%, rgba(255,133,82,1) 50%, rgba(219,255,69,1) 90%);
}

section {
	padding: var(--xxl-space) 0;
}

footer {
}

/* RECURRING STYLES */

.round-btn {
	font-variation-settings: "wght" 550, "wdth" 100, "ital" 0;
	text-transform: uppercase;
	white-space: nowrap;
	padding: var(--sm-space) var(--sm-space) var(--xs-space) var(--sm-space);
	border: 3px solid var(--color-black);
	border-radius: var(--md-space);
	color: var(--color-black);
	cursor: pointer;
	position: relative;
	top: 25%;
}

.round-btn:hover {
	background: var(--color-black);
	color: var(--color-white);
}

.menu {
	display: flex;
	flex-flow: row nowrap;
	max-width: unset;
	margin: unset;
}

.sc {
	font-variant: small-caps;
	letter-spacing: .05em;
	font-variation-settings: unset;
}

.ext-link {
	width: 24px;
	padding: 0 var(--xs-space);
}

.ext-link polygon {fill: var(--color-black);}
a:hover .ext-link polygon {fill: var(--brand-color4);}

/* SECTION STYLES */

/* Header */

header {
	background: url('../img/gradient.png');
	background-size: cover;
	background-position: center;
}

#logo {cursor: pointer;}

svg path {
	transition: ease var(--time1);
}

#d, #w {
	margin-left: -20px;
	transition: ease var(--time1);
}

#c:hover + #d, #d:hover + #w {margin-left: 5px;}

#c:hover path {
	d: path("M100.4297,90h179.5703c11.0457,0,20-8.9543,20-20V0H101.6458C46.808,0,.9298,43.4604,.0143,98.2906c-.9352,56.0111,44.1885,101.7094,99.9857,101.7094h200v-70c0-11.0457-8.9543-20-20-20H100c-5.8467,0-10.5217-5.0177-9.9531-10.982,.4957-5.1994,5.1598-9.018,10.3828-9.018Z");
}

#d:hover path {
	d: path("M200,0V.001H0V180.0001c0,11.0456,8.9543,19.9999,20,19.9999H200v-.001c55.2285,0,100-44.7713,100-99.9995S255.2285,0,200,0Zm0,109.9995v.001H20.0007v-19.9999H200v-.001c5.5229,0,10,4.477,10,10s-4.4771,10-10,10Z");
}

#w:hover path {
	d: path("M324,0V99.5703c0,5.2231-3.8186,9.8873-9.018,10.383-5.9643,.5686-10.982-4.1067-10.982-9.9531v-10.0001C304,40.2944,265.8165,0,210.0001,0h-.0002c-56.8501,0-93.9999,40.2944-93.9999,90.0001v9.5707c0,5.2234-3.8193,9.8875-9.0191,10.3826-5.9644,.5679-10.9809-4.1072-10.9809-9.9532V0H0V98.2112c0,59.7891,45.1498,101.7892,105.7027,101.7888,26.9137-.0002,55.3589-10.4772,73.3771-27.7017,13.6201-13.0202,20.9202-31.3193,20.9202-50.1616v-21.706c0-5.2228,3.8179-9.8871,9.017-10.3835,5.9642-.5694,10.983,4.1062,10.983,9.953v22.0767c0,19.709,8.1402,38.6282,22.7147,51.8957,17.831,16.2319,45.5528,26.0272,71.5835,26.0274,59.5182,.0004,105.7018-41.333,105.7018-101.7888V0h-96Z");
}

#mobile-menu-toggle {display: none;}



/* Hero */

#hero {
	padding: 15vh 0;
	margin: unset;
}

h1 {
	font-size: 3.5rem;
	padding-bottom: .25em;
/*animation: title 10s ease-in-out infinite alternate;*/
}

#hero p {
	text-transform: uppercase;
	font-variation-settings: "wght" 600, "wdth" 120, "ital" 0;
	padding-bottom: .5em;
}

/* About */

#about {
	display: flex;
	background: var(--color-black);
	color: var(--color-white);
}

#about .intro {
	font-size: 1.5em;
	line-height: 1.25em;
	font-variation-settings: "wght" 500, "wdth" 100, "ital" 0;
	color: var(--brand-color3);
}

#about li::marker {
	color: var(--brand-color3);
}

/* Schedule */

.card {
	display: flex;
	position: relative;
	padding: var(--md-space) 0;
	border-top: 4px solid var(--color-black);
}

.card h3 {
	font-variation-settings: "wght" 300, "wdth" 200, "ital" 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
}

.date {
	position: absolute;
	font-family: "obviously-variable", sans-serif;
	font-variation-settings: "wght" 800, "wdth" 180, "ital" 10;
	font-size: 5rem;
	color: #00000025;
}

.date sup {
	font-size: 40px;
	padding-left: var(--xs-space);
}

.card li {
	padding: var(--sm-space) 0 var(--lg-space) 0;
}

.card li:not(:first-of-type) {
	padding: var(--lg-space) 0;
}

.card li:not(:last-of-type) {
	border-bottom: 1px solid var(--color-black);
}

.card:last-of-type {
	padding-top: var(--xl-space);
}

.card:last-of-type li:last-of-type{
	border-bottom: 1px solid var(--color-black);
}

.card h4 {
	font-size: 2.5rem;
	line-height: 1.2em;
	padding-bottom: var(--sm-space);
	font-variation-settings: "wght" 600, "wdth" 120, "ital" 0;
}

.card .subhead {
	display: inline;
	font-size: 1.5rem;
	line-height: 1em;
}

.tooltip {
	font-size: 2rem;
	line-height: 0;
	vertical-align: top;
	display: inline;
  position: relative;
  padding-right: var(--lg-space);
  top: var(--xs-space);
  right: var(--sm-space);
  color: var(--brand-color1);
  cursor: pointer;
}

.tooltiptext {
	font-size: 1rem;
	line-height: 1.25em;
	font-variation-settings: "wght" 600, "wdth" 120, "ital" 0;
	text-align: right;
  visibility: hidden;
  width: max-content;
  border-radius: var(--md-space);
  border: 3px solid var(--brand-color1);
  color: var(--brand-color1);
  padding: var(--sm-space) var(--sm-space) var(--xs-space) var(--lg-space);
  position: absolute;
  left: -10px;
  top: -8px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card .details {
	font-variation-settings: "wght" 600, "wdth" 100, "ital" 0;
}

.details em {
	font-variation-settings: "wght" 400, "wdth" 100, "ital" 0;
}

#standout * {
	z-index: 2;
}

#standout .bg {
	width: 100vw;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#standout.green .bg {
	background: var(--brand-color3);
}

#standout.green .bg::before {
	background-image: url('../img/squiggle-border_green.png');
}

#standout.green .bg::after {
	background-image: url('../img/squiggle-border_green-rev.png');
}

#standout .bg::before {
	content: '';
	display: block;
	height: 100px;
	position: relative;
	bottom: 80px;
	background-size: 1000px;
	background-repeat: repeat-x;
}

#standout .bg::after {
	content: '';
	display: block;
	height: 100px;
	position: relative;
	top: calc(100% - 120px);
	background-size: 1000px;
	background-repeat: repeat-x;
}

/* Register */

.checkout-embed {
	border-radius: var(--md-space);
	overflow: hidden;
}

#register {
	background: var(--color-black);
	color: var(--color-white);
}

#sponsors {
	margin-top: var(--lg-space);
}


#sponsors .logos {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	justify-content: space-around;
	justify-items: center;
	margin-bottom: 5vw;
}

#sponsors .logos.large * {
	width: 12vw;
}
#sponsors .logos.medium * {
	width: 9vw;
}
#sponsors .logos.small * {
	width: 7.5vw;
}

#sponsors .logos img {
	height: 100%;
}

/* Footer */

footer {
	background: var(--color-black);
	color: var(--color-white);
}

#insta {
	display: inline-block;
	margin: var(--md-space);
}

#insta svg {
	width: 40px;
	fill: var(--color-white);
}

#insta:hover svg {
	fill: var(--brand-color1);
}

footer .menu {
	justify-content: center;
}

footer .menu li {
	font-size: 16px;
	padding: 0 var(--sm-space) var(--md-space) var(--sm-space);
}

footer .round-btn {
	border: 3px solid var(--color-white);
	color: var(--color-white);
	top: 0;
}

footer .round-btn:hover {
	color: var(--color-black);
	background: var(--color-white);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
	body {
		font-size: 16px;
	}

	header nav {
		margin: 0 var(--sm-margin);
	}

	header .menu {
		position: absolute;
		width: 100%;
		height: auto;
		top: var(--xl-space);
		left: 0;
		justify-content: center;
	}

	header .menu li {
		padding: var(--sm-space);
	}

	#mobile-menu-btn {
		display: inline;
		position: relative;
		cursor: pointer;
	}

	#mobile-menu-btn::after {
		content: '\25CF \25CF \25CF';
		color: var(--color-black);
	}

	#mobile-menu-toggle:checked ~ #mobile-menu-btn::after {
		content: '\2716';
		color: var(--color-black);
		font-size: 30px;
		position: relative;
	}

	#mobile-menu-toggle ~ .menu {display: none;}

	#mobile-menu-toggle:checked ~ .menu {
		display: flex;
	}

	#about, #schedule, #register {
		padding: var(--xl-space) var(--sm-margin);
	}

	#about {
		flex-flow: column;
	}

	#about .text {
		width: 100%;
	}

	#about .image img {
		width: 100%;
		margin-top: var(--md-space);
	}

	#schedule h2, #register h2 {
		font-size: 2.5rem;
	}

	.card {
		flex-flow: column;
	}

	.card h3 {
		width: 100%;
	}

	.card ul {
		width: 100%;
		padding: var(--lg-space) 0 0 0;
		margin: unset;
	}

	.date {
		top: 0;
		right: 0;
		padding: 0;
		margin: -10px;
	}

	.card:last-of-type .date {
		margin-top: 40px;
	}

	#standout .bg {
		margin: -20px -5.5% 0 -5.5%;
	}

	footer {
		padding: var(--lg-space) var(--sm-margin);
	}

}

@media screen and (min-width: 1000px) {
	header nav {
		margin: 0 var(--md-margin);
	}

	header .menu {
		padding: 0;
	}

	header .menu li {
		padding: 0 0 0 var(--md-space);
	}

	#mobile-menu-btn {
		display: none;
	}

	#about, #schedule, #register {
		padding: var(--xxl-space) var(--md-margin);
	}

	#about {
		flex-flow: row;
	}

	#about .text {
		width: 60%;
	}

	#about .image {
		width: 50%;
		margin-left: var(--sm-space);
	}

	#schedule h2, #register h2 {
		font-size: 3rem;
	}

	.card {
		flex-flow: row nowrap;
	}

	.card h3 {
		width: 40%;
	}

	.card ul {
		width: 60%;
		padding: 0;
	}

	.date {
		padding: var(--md-space) 0;
	}

	#standout .bg {
		margin: -20px -22% 0 -22%;
	}

	footer {
		padding: var(--lg-space) var(--md-margin);
	}

}

@media screen and (max-width: 700px) {
	h1 {
		font-size: 1.5rem;
		padding-bottom: .25em;
	}

	.tooltiptext.long {
		text-align: center;
		left: -260px;
	  top: -40px;
		padding: var(--sm-space) var(--sm-space) var(--xs-space) var(--sm-space);
	}
}

@media screen and (min-width: 2000px) {
	header nav {
		margin: 0 var(--lg-margin);
	}

	#about, #schedule, #register {
		padding: var(--xxl-space) var(--lg-margin);
	}

	#standout .bg {
		margin: -20px -34% 0 -34%;
	}

	footer {
		padding: var(--lg-space) var(--lg-margin);
	}

}

@keyframes title {
	0% {font-variation-settings: "wght" 650, "wdth" 175, "ital" 0;}
	5% {font-variation-settings: "wght" 650, "wdth" 175, "ital" 0;}
	95% {font-variation-settings: "wght" 650, "wdth" 100, "ital" 0;}
	100% {font-variation-settings: "wght" 650, "wdth" 100, "ital" 0;}
}